@* @page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="text-center mb-4 mt-5">
                <h2>@ViewData["Title"]</h2>
            </div>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                <div class="mb-4">
                    <input asp-for="Input.Email" type="email" class="form-control form-control-lg border-0 border-bottom rounded-0"
                           placeholder="Email" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                </div>

                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary px-5">send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .form-control {
        padding: 1rem 0.25rem;
    }

        .form-control:focus {
            box-shadow: none;
            border-color: #0d6efd;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate"/>
                        <label asp-for="Input.Email">
                            Email
                        </label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Reset
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
