@page
@model ASC.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Reset password success";
    Layout = "_Layout";
}

<div class="row">
    <div class="col s12">
        <div class="card-panel green lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Your password reseted! Please login with your new password.
            </span>
        </div>
    </div>
</div>
